/*Header*/
header {
  background-color: rgba(60, 69, 67, 0.6);
  border-radius: 15px 15px 0 0;
}

header > h1 {
  font-size: 2em;
}

.btn-danger {
  background-color: rgba(204, 3, 25, 0.5);
  color: #FFE818;
  border: 2px solid black;
}

/*main*/
.border {
  border-radius: 0 0 15px 15px;
  border-color: #FFE818 !important;
}



.float-start img {
  box-shadow: rgba(60, 69, 67, 0.6) 10px 10px;
}

/*footer*/